@{
    Layout = null;
}
@model WebNetCore.ViewModels.HomeIndexView.HomeIndexViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<ul>
	
	@foreach (var stu in Model.Students)
	{
		<li>@stu.Id : @stu.Name (@stu.BirthDay)  
			<!--  <a href="/Home/Detail/@stu.Id">Detail</a>
			-->
			<a asp-action="Detail" asp-route-id="@stu.Id"> @stu.Name</a>
			</li>
	}
</ul>
</body>
</html>
